.ikkeskrapet {
	width: 100%;
	height: 30px;
	background-color: grey;
}

.skrapet {
	width: 100%;
	height: 30px;
	background-color: red;
}

.funnet {
	width: 100%;
	height: 30px;
	background-color: white;
}