.ikkeskrapet {
	width: 100%;
	height: 30px;
	background-color: #8e8b8b;
	border-radius: 5px;
}

.skrapet {
	width: 100%;
	height: 30px;
	background-color: #dd2323;
	border-radius: 5px;
}

.funnet {
	width: 100%;
	height: 30px;
	background-color: #fcfcfc;
	border-radius: 5px;
}

.tekst {
	width: 100%;
	height: 30px;
	background-color: lightgray;
	border-radius: 5px;
}